---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Portfolio-site">
	<!DOCTYPE html>
	<html lang="ja">
	  <head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
		  rel="shortcut icon"
		  href="src/img/sakura.webp"
		  type="image/png"
		  sizes="16×16"
		/>
		<link
		  rel="preload"
		  href="src/font/Pommel.woff2"
		  as="font"
		  type="font/woff2"
		  crossorigin
		/>
	  </head>
	  <body>
		<div class="cherry-blossom">
		  <main class="menu">
			<div id="app1">
			  <a class="button" v-on:click="show">About</a>
			  <modal name="modal-1" :adaptive="true" :delay="368">
				<div class="modal-inner">
				  <h1>About</h1>
				  <br />
				  <p>横浜出身。東京にて暮らしてます</p>
				  <p>趣味はバイクをいじったりDIYをすることです</p>
				  <span class="hide" v-on:click="hide"></span>
				</div>
			  </modal>
			</div>
			<div id="app2">
			  <a class="button" v-on:click="show">Skill</a>
			  <modal name="modal-2" :adaptive="true" :delay="368">
				<div class="modal-inner">
				  <h1>Skill</h1>
				  <h2>Languages: C++, Python, shell</h2>
				  <br />
				  <h2>This Site: HTML/CSS/Vue.js/Netlify</h2>
				  <span class="hide" v-on:click="hide"></span>
				</div>
			  </modal>
			</div>
			<div id="app3">
			  <a class="button" v-on:click="show">Link</a>
			  <modal name="modal-3" :adaptive="true" :delay="368">
				<div class="modal-inner">
				  <h1>Link</h1>
				  <div class="bold">
					<a href="https://github.com/ogmer">GitHub</a>
					<a href="https://qiita.com/ogmer">Qiita</a>
					<a href="https://zenn.dev/ogmer">Zenn</a>
				  </div>
				  <span class="hide" v-on:click="hide"></span>
				</div>
			  </modal>
			</div>
			<div id="app4">
			  <a class="button" v-on:click="show">contact</a>
			  <modal name="modal-4" :adaptive="true" :delay="368">
				<div class="modal-inner">
				  <h1>Contact</h1>
				  <h2>ogmer.net〔at〕gmail.com</h2>
				  <span class="hide" v-on:click="hide"></span>
				</div>
			  </modal>
			</div>
		  </main>
		  <footer>
			<small>made by ogmer</small>
		  </footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.34/dist/index.min.js"></script>
	  </body>
	</html>
</Layout>

<style>
html,
body {
  width: 100%;
  height: 100%;
  background: #77a9eb;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  font-weight: 650;
  line-height: 2.2em;
  letter-spacing: 0.08em;
  color: #f1f3fc;
}

a:hover {
  color: deeppink;
  transition-duration: 0.45s;
}

.bold {
  margin-top: 25px;
}

.bold > a {
  color: #2ecc71;
  font-size: 24px;
  text-decoration: underline;
  margin-left: 30px;
}

.bold > a:first-child {
  margin-left: 0;
}

h1 {
  font-size: 30px;
  text-decoration: none;
  color: #f39c06;
}

h2 {
  font-size: 20px;
}

p {
  font-weight: bold;
}

#app1 h2 {
  font-size: 17px;
  line-height: 2.5em;
}

#app2 h2 {
  font-size: 18px;
}

#app4 h2 {
  margin-top: 50px;
}

.modal-inner {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  color: rgb(115, 193, 241);
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  padding-left: 40px;
  padding-bottom: 15px;
}

small {
  font-size: 35px;
  color: white;
  font-family: "Pommel";
}

.cherry-blossom {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sakura {
  position: absolute;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  animation: animate-sakura 10s linear;
}

.sakura::after {
  content: "";
  position: absolute;
  top: -14%;
  left: -10%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  transform: rotate(15deg);
}

@keyframes animate-sakura {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg);
  }
}

@media screen and (min-width: 769px) {
  /* pc,tab-style */
  .menu {
    text-align: center;
    position: absolute;
    top: 150px;
    right: 200px;
  }
}

@media screen and (max-width: 768px) {
  /* sp-style */
  .menu {
    padding-top: 40px;
    text-align: center;
  }
  footer {
    padding-bottom: 20px;
  }
}
</style>

<script>
"use strict";
window.addEventListener("DOMContentLoaded", () => {
  const section = document.querySelector(".cherry-blossom");

  const createsakura = () => {
    const sakuraEl = document.createElement("span");
    sakuraEl.className = "sakura";
    const minSize = 10;
    const maxSize = 15;
    const size = Math.random() * (maxSize + 1 - minSize) + minSize;
    sakuraEl.style.width = `${size}px`;
    sakuraEl.style.height = `${size}px`;
    sakuraEl.style.left = Math.random() * innerWidth + "px";
    section.appendChild(sakuraEl);

    setTimeout(() => {
      sakuraEl.remove();
    }, 10000);
  };

  setInterval(createsakura, 300);
});

Vue.use(window["vue-js-modal"].default);

var app = new Vue({
  el: "#app1",
  methods: {
    show: function() {
      this.$modal.show("modal-1");
    },
    hide: function() {
      this.$modal.hide("modal-1");
    },
  },
});

var app = new Vue({
  el: "#app2",
  methods: {
    show: function() {
      this.$modal.show("modal-2");
    },
    hide: function() {
      this.$modal.hide("modal-2");
    },
  },
});

var app = new Vue({
  el: "#app3",
  methods: {
    show: function() {
      this.$modal.show("modal-3");
    },
    hide: function() {
      this.$modal.hide("modal-3");
    },
  },
});

var app = new Vue({
  el: "#app4",
  methods: {
    show: function() {
      this.$modal.show("modal-4");
    },
    hide: function() {
      this.$modal.hide("modal-4");
    },
  },
});
</script>